In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('C:/Users/navyakiran/Desktop/python/Regression/student.csv')

In [3]:
data

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,F,Jordan,Jordan,MiddleSchool,G-08,A,Chemistry,S,Father,5,4,5,8,No,Bad,Above-7,L
476,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,F,Father,50,77,14,28,No,Bad,Under-7,M
477,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,S,Father,55,74,25,29,No,Bad,Under-7,M
478,F,Jordan,Jordan,MiddleSchool,G-08,A,History,F,Father,30,17,14,57,No,Bad,Above-7,L
479,F,Jordan,Jordan,MiddleSchool,G-08,A,History,S,Father,35,14,23,62,No,Bad,Above-7,L

In [19]:
a=data.select_dtypes(include='object')

In [20]:
a.head()

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,No,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,No,Bad,Above-7,M

In [21]:
from sklearn.preprocessing import LabelEncoder

In [22]:
lb=LabelEncoder()

In [23]:
a=a.apply(lb.fit_transform)

In [25]:
a1=data.select_dtypes(exclude='object')

In [27]:
df=pd.concat([a,a1],axis=1)

In [28]:
df.head()

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class,raisedhands,VisITedResources,AnnouncementsView,Discussion
0,1,4,4,2,1,0,7,0,0,1,1,1,2,15,16,2,20
1,1,4,4,2,1,0,7,0,0,1,1,1,2,20,20,3,25
2,1,4,4,2,1,0,7,0,0,0,0,0,1,10,7,0,30
3,1,4,4,2,1,0,7,0,0,0,0,0,1,30,25,5,35
4,1,4,4,2,1,0,7,0,0,0,0,0,2,40,50,12,50

In [31]:
x=df.drop(['Class'],axis=1)

In [32]:
y=df['Class']

In [41]:
df['Class'].value_counts()

2    211
0    142
1    127
Name: Class, dtype: int64

In [51]:
from sklearn.model_selection import train_test_split

In [52]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3,random_state=1)

In [59]:
from sklearn.naive_bayes import GaussianNB

In [60]:
model=GaussianNB()

In [61]:
model.fit(xtrain,ytrain)

GaussianNB()

In [62]:
ypred=model.predict(xtest)

In [63]:
ypred

array([0, 0, 1, 1, 2, 0, 0, 1, 2, 1, 2, 0, 2, 2, 2, 0, 1, 1, 2, 1, 2, 2,
       2, 2, 0, 0, 2, 0, 1, 0, 0, 0, 0, 2, 0, 0, 2, 2, 0, 1, 0, 0, 1, 1,
       2, 1, 2, 0, 1, 0, 2, 0, 1, 2, 0, 0, 1, 2, 0, 2, 1, 0, 1, 2, 0, 0,
       2, 2, 2, 0, 1, 2, 0, 1, 1, 0, 0, 2, 1, 0, 1, 1, 1, 0, 0, 1, 0, 2,
       0, 2, 2, 0, 0, 2, 2, 0, 1, 1, 2, 1, 0, 2, 0, 0, 2, 2, 1, 0, 2, 0,
       1, 2, 0, 0, 2, 0, 2, 1, 0, 0, 0, 1, 1, 1, 2, 1, 2, 0, 2, 2, 2, 0,
       1, 2, 2, 1, 0, 0, 2, 2, 1, 1, 2, 0])

In [64]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [65]:
accuracy_score(ytest,ypred)

0.7430555555555556

In [66]:
confusion_matrix(ytest,ypred)

array([[42,  1, 12],
       [ 0, 30,  3],
       [13,  8, 35]], dtype=int64)

In [70]:
print(classification_report(ytest,ypred))

              precision    recall  f1-score   support

           0       0.76      0.76      0.76        55
           1       0.77      0.91      0.83        33
           2       0.70      0.62      0.66        56

    accuracy                           0.74       144
   macro avg       0.74      0.77      0.75       144
weighted avg       0.74      0.74      0.74       144

In [71]:
(42+30+35)/(42+1+12+30+3+13+8+35)

0.7430555555555556

In [75]:
df.columns

Index(['gender', 'NationalITy', 'PlaceofBirth', 'StageID', 'GradeID',
       'SectionID', 'Topic', 'Semester', 'Relation', 'ParentAnsweringSurvey',
       'ParentschoolSatisfaction', 'StudentAbsenceDays', 'Class',
       'raisedhands', 'VisITedResources', 'AnnouncementsView', 'Discussion'],
      dtype='object')

In [76]:
df.head()

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class,raisedhands,VisITedResources,AnnouncementsView,Discussion
0,1,4,4,2,1,0,7,0,0,1,1,1,2,15,16,2,20
1,1,4,4,2,1,0,7,0,0,1,1,1,2,20,20,3,25
2,1,4,4,2,1,0,7,0,0,0,0,0,1,10,7,0,30
3,1,4,4,2,1,0,7,0,0,0,0,0,1,30,25,5,35
4,1,4,4,2,1,0,7,0,0,0,0,0,2,40,50,12,50

In [100]:
p=pd.DataFrame({'gender':[1],'NationallTy':[4],'StageID':[2],'PlaceofBirth':[4],'GradeID':[1],'SectionID':[0],'Topic':[7],'Semester':[0],'Relation':[0],'ParentAnsweringSurvey':[0],'ParentschoolSatisfaction':[0],'StudentAbsenceDays':[1],'raisedhands':[40],'VisITedResources':[50],'AnnouncementsView':[12],'Discussion':[50]})

In [101]:
p

,gender,NationallTy,StageID,PlaceofBirth,GradeID,SectionID,Topic,Semester,Relation,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,raisedhands,VisITedResources,AnnouncementsView,Discussion
0,1,4,2,4,1,0,7,0,0,0,0,1,40,50,12,50

In [102]:
model.predict(p)

array([2])

In [117]:
pd.crosstab(['gender','Class'],:)

SyntaxError: invalid syntax (<ipython-input-117-6c6ef0255284>, line 1)